#quicontext,
.quicontext {
  position: absolute;
}
#quicontext,
.quicontext,
#quicontext *,
.quicontext * {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Chrome Style */
#quicontext.quicontext_skin_chrome,
.quicontext.quicontext_skin_chrome {
  text-align: left;
  color: #000;
  font: normal 10pt 'Segoe UI', Tahoma, sans-serif;
  background: #fff;
  box-shadow: 0.3em 0.3em 0.3em -0.2em rgba(0, 0, 0, 0.7);
}
#quicontext.quicontext_skin_chrome:before,
.quicontext.quicontext_skin_chrome:before,
#quicontext.quicontext_skin_chrome:after,
.quicontext.quicontext_skin_chrome:after {
  display: block;
  content: '';
  height: 2px;
  border: 1px solid #BBB;
}
#quicontext.quicontext_skin_chrome:before,
.quicontext.quicontext_skin_chrome:before {
  border-bottom: 0;
}
#quicontext.quicontext_skin_chrome:after,
.quicontext.quicontext_skin_chrome:after {
  border-top: 0;
}
#quicontext.quicontext_skin_chrome *,
.quicontext.quicontext_skin_chrome * {
  margin: 0;
  padding: 0;
}
#quicontext.quicontext_skin_chrome ul li.sep,
.quicontext.quicontext_skin_chrome ul li.sep {
  padding: 0.2em 0;
}
#quicontext.quicontext_skin_chrome ul li.sep:after,
.quicontext.quicontext_skin_chrome ul li.sep:after {
  width: 100%;
  height: 1px;
  background: #DDD;
  content: '';
  display: block;
}
#quicontext.quicontext_skin_chrome ul li.disabled,
.quicontext.quicontext_skin_chrome ul li.disabled {
  color: #888;
}
#quicontext.quicontext_skin_chrome ul li,
.quicontext.quicontext_skin_chrome ul li {
  border: 1px solid #BBB;
  border-width: 0 1px;
  cursor: default;
  list-style-type: none;
  padding: 0.3em 2em;
}
#quicontext.quicontext_skin_chrome ul li:hover.clickable,
.quicontext.quicontext_skin_chrome ul li:hover.clickable {
  color: #fff;
  border-color: #4281f4;
  background: #4281f4;
}
/* 3ds Max Style */
#quicontext.quicontext_skin_3ds,
.quicontext.quicontext_skin_3ds {
  color: #000;
  background: #BFBFBF;
  border: 1px solid #000;
  font: 12px Arial, Helvetica, sans-serif;
  text-align: left;
}
#quicontext.quicontext_skin_3ds,
.quicontext.quicontext_skin_3ds,
#quicontext.quicontext_skin_3ds *,
.quicontext.quicontext_skin_3ds * {
  margin: 0;
  padding: 0;
}
#quicontext.quicontext_skin_3ds li,
.quicontext.quicontext_skin_3ds li {
  list-style-type: none;
}
#quicontext.quicontext_skin_3ds li.clickable:hover,
.quicontext.quicontext_skin_3ds li.clickable:hover {
  background: #808080;
}
#quicontext.quicontext_skin_3ds li.sep,
.quicontext.quicontext_skin_3ds li.sep {
  border-top: 1px solid #000;
}
#quicontext.quicontext_skin_3ds li.disabled,
.quicontext.quicontext_skin_3ds li.disabled {
  color: #888;
}
#quicontext.quicontext_skin_3ds li:not(.sep),
.quicontext.quicontext_skin_3ds li:not(.sep) {
  padding: 0.1em 1em;
}
