#quicontext,
.quicontext {
  position: absolute;
}
#quicontext,
.quicontext,
#quicontext *,
.quicontext * {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#quicontext {
  color: #000;
  background: #BFBFBF;
  border: 1px solid #000;
  font: 12px Arial, Helvetica, sans-serif;
  text-align: left;
}
#quicontext,
#quicontext * {
  margin: 0;
  padding: 0;
}
#quicontext li {
  list-style-type: none;
}
#quicontext li.clickable:hover {
  background: #808080;
}
#quicontext li.sep {
  border-top: 1px solid #000;
}
#quicontext li.disabled {
  color: #888;
}
#quicontext li:not(.sep) {
  padding: 0.1em 1em;
}
